@charset "utf-8";
.jumbotron { background:url("../images/kouho2.jpg");}
.box-comment {
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box-comment .box-title {
    font-size: 1.2em;
    background: #242424;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box-comment p {
    padding: 15px 20px;
    margin: 0;
}
.box-comment h6 {
    padding: 15px 20px;
    margin: 0;
}
.box-black{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box-black h4 {
    margin: 1em; 
    padding: 0;
}
.tablesorter th{
    position: relative;
    cursor: pointer;
    text-align: left;
}
.tablesorter th::before, .tablesorter th::after{
    content: '';
    position: absolute;
    z-index: 2;
    right: 7px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #333 transparent;
    pointer-events: none;
}
.tablesorter th::before{
    border-bottom-style: solid;
    border-top: none;
    top: 30%;
}
.tablesorter th::after{
    border-top-style: solid;
    border-bottom: none;
    bottom: 30%;
}
.tablesorter th.tablesorter-headerAsc:after{
    border: none;
}
.tablesorter th.tablesorter-headerAsc:before{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.tablesorter th.tablesorter-headerDesc:before{
    border: none;
}
.tablesorter th.tablesorter-headerDesc:after{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.tablesorter th.sorter-false:before, .tablesorter th.sorter-false:after{
    border: none;
}